<template>
  <section>
    <div class="container">
      <Header />
      <div class="products">
        <div class="list" v-for="(product, index) in products" :key="index">
          <div class="subtypes" v-if="product.type" @click="show(index)">
            <Product
              :product="product"
              :index="index"
              :isOpen="isOpen"
              :showIndex="showIndex"
              class="cursorHover"
            >
              <div v-if="showIndex === index" class="wrapsub">
                <SubType
                  :type="type"
                  v-for="(type, i) in product.type"
                  :key="i"
                  class="sub cursorHover"
                  :main="product.name"
                />
              </div>
            </Product>
          </div>
          <div v-else>
            <div @click="toAnotherPage(product.name)" class="cursorHover">
              <Product :product="product" :index="index" :isOpen="isOpen" :showIndex="showIndex" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import main from '../../Ingredients/json/main.json';
import Product from '../components/Product.vue';
import SubType from '../components/SubType.vue';
import Header from '../components/Header.vue';

export default {
  name: 'Dashboard',
  data() {
    return {
      products: main.contents,
      showIndex: null,
      isOpen: false,
    };
  },
  components: {
    Header,
    Product,
    SubType,
  },
  methods: {
    toAnotherPage(page) {
      const route = `/${page.toLowerCase()}`;
      this.$router.push({ path: route });
    },
    show(i) {
      if (this.isOpen && this.showIndex === i) {
        this.isOpen = false;
        this.showIndex = null;
      } else {
        this.isOpen = true;
        this.showIndex = i;
      }
    },
  },
};
</script>

<style scoped>
* {
  font-family: "proxima-nova-soft";
}

.cursorHover {
  cursor: pointer;
}

.container {
  justify-content: center;
  width: 60vw;
}

section {
  display: flex;
  justify-content: center;
}

.blok {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15vh;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.16), 0 3px 5px rgba(66, 66, 66, 0.23);
}

.wrapsub {
  display: flex;
  height: 20vh;
  justify-content: space-between;
}

.subtypes {
  display: flex;
}
.sub {
  width: 48%;
  margin-bottom: 10px;
  height: 40px;
  background-color: "grey";
}

.products {
  margin-bottom: 35px;
}
</style>
