<template>
  <section>
    <div class="container">
      <Header>
        <select v-model="selectGrade" style="cursor: pointer">
          <option value="All" class="hovering" selected>All</option>
          <option value="A" class="hovering">A</option>
          <option value="B+" class="hovering">B+</option>
          <option value="B" class="hovering">B</option>
        </select>
      </Header>
      <div class="bordering">
        <input type="text" placeholder=" Search" v-model="search" />

        <table class="fixedHeader">
          <thead>
            <tr>
              <th>Name</th>
              <th>Pinjaman</th>
              <th>Grade & Rate</th>
              <th>Term</th>
            </tr>
          </thead>
          <tbody class="tooverflow">
            <ListSub v-for="(item , index) in list" :key="index" :item="item" />
          </tbody>
        </table>
      </div>
    </div>
  </section>
</template>

<script>
import invoiceCvnt from '../../Ingredients/json/invoice/conventional_invoice.json';
import invoiceShr from '../../Ingredients/json/invoice/sharia_invoice.json';
import osfCvnt from '../../Ingredients/json/osf/conventional_osf.json';
import osfShr from '../../Ingredients/json/osf/sharia_osf.json';

import Header from '../components/Header.vue';
import ListSub from '../components/ListSub.vue';

export default {
  name: 'Detail-Sub',
  components: {
    Header,
    ListSub,
  },
  data() {
    return {
      default: null,
      selectGrade: 'All',
      list: null,
      search: null,
    };
  },
  methods: {
    filterGrade() {
      this.search = '';
      if (this.selectGrade === 'All') {
        this.list = this.default;
      } else {
        const arr = [];
        this.default.forEach((el) => {
          if (el.grade === this.selectGrade) {
            arr.push(el);
          }
        });
        this.list = arr;
      }
    },
  },
  watch: {
    search() {
      if (this.search !== '') {
        const result = [];
        this.default.forEach((el) => {
          if (
            el.name.toLowerCase().includes(this.search.toLowerCase())
            && this.selectGrade === 'All'
          ) {
            result.push(el);
          } else if (
            this.selectGrade !== 'All'
            && el.grade === this.selectGrade
            && el.name.toLowerCase().includes(this.search.toLowerCase())
          ) {
            result.push(el);
          }
        });
        this.list = result;
      } else {
        this.filterGrade();
      }
    },
    selectGrade() {
      this.filterGrade();
    },
  },
  created() {
    const route = this.$route.fullPath;
    if (route === '/invoice/conventional') {
      this.default = invoiceCvnt.contents;
      this.list = invoiceCvnt.contents;
    } else if (route === '/invoice/sharia') {
      this.default = invoiceShr.contents;
      this.list = invoiceShr.contents;
    } else if (route === '/osf/conventional') {
      this.default = osfCvnt.contents;
      this.list = osfCvnt.contents;
    } else if (route === '/osf/sharia') {
      this.default = osfShr.contents;
      this.list = osfShr.contents;
    }
  },
};
</script>

<style scoped>
.fixedHeader {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.fixedHeader tbody {
  display: block;
  overflow: auto;
  height: 25vh;
  width: 100%;
}
.fixedHeader thead tr {
  display: flex;
  justify-content: space-around;
}
select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw !important;
  height: 35px !important;
  padding: 5px;
  font-size: 14pt;
  outline-width: 0;
}

.container {
  justify-content: center;
  width: 60vw;
}

.bordering {
  padding: 20px;
  margin: 30px 0;
  border-radius: 10px;
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.16), 0 3px 5px rgba(66, 66, 66, 0.23);
}

section {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
}
table tr {
  border-bottom: 1px solid rgb(202, 201, 201);
}
table th {
  text-align: left;
  padding: 12px;
  color: #073a86;
  font-size: 13pt;
}
input[type="text"],
input[type="text"]:focus {
  border-radius: 45px;
  margin-bottom: 30px;
  margin-top: 10px;
  width: 94%;
  font-size: 12pt;
  outline-width: 0;
  border-color: rgb(231, 229, 229) !important;
  padding: 5pt 0pt 5pt 38px;
  background-image: url("../assets/search.png");
  background-size: 20px;
  background-position-x: 10px;
  background-position-y: center;
  background-repeat: no-repeat;
}

.tooverflow::-webkit-scrollbar {
  -webkit-appearance: none;
}

.tooverflow::-webkit-scrollbar:vertical {
  height: 10px;
}

.tooverflow::-webkit-scrollbar:horizontal {
  width: 0px;
}

.tooverflow {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 9px;
}

.tooverflow::-webkit-scrollbar {
  -webkit-appearance: none;
}

.tooverflow::-webkit-scrollbar-thumb {
  border-radius: 8px;
  margin: 5px;
  background-color: rgb(211, 211, 211);
}
</style>
