<template>
  <section>
    <div class="container">
      <Header>
        <select v-model="selectType" style="cursor: pointer">
          <option value="All" class="hovering" selected>All</option>
          <option value="SBR" class="hovering">SBR</option>
          <option value="ST" class="hovering">ST</option>
        </select>
      </Header>
      <div class="bordering">
        <input type="text" placeholder=" Search" v-model="search" />

        <table class="fixedHeader">
          <thead>
            <tr>
              <th>Name</th>
              <th>Pinjaman</th>
              <th>Term</th>
              <th>Rate</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody class="tooverflow">
            <ListSbn v-for="(item, index) in list" :key="index" :item="item" />
          </tbody>
        </table>
      </div>
    </div>
  </section>
</template>

<script>
import Header from '../components/Header.vue';
import sbnJson from '../../Ingredients/json/sbn/sbn.json';
import ListSbn from '../components/ListSbn.vue';


export default {
  name: 'Detail-Sbn',
  components: {
    Header,
    ListSbn,
  },
  data() {
    return {
      default: sbnJson.contents,
      selectType: 'All',
      list: sbnJson.contents,
      search: null,
    };
  },
  methods: {
    filterData(search) {
      const filterSearch = [];
      if (search) {
        this.default.forEach((el) => {
          if (
            el.type === this.selectType
            && el.name.toLowerCase().includes(this.search.toLowerCase())
          ) {
            filterSearch.push(el);
          }
        });
      } else {
        this.default.forEach((el) => {
          if (el.type === this.selectType) {
            filterSearch.push(el);
          }
        });
      }
      this.list = filterSearch;
    },
    filterType() {
      if (this.selectType === 'All') {
        this.list = this.default;
        this.search = '';
      } else {
        const arr = [];
        this.default.forEach((el) => {
          if (el.type === this.selectType) {
            arr.push(el);
          }
        });
        this.search = '';
        this.list = arr;
      }
    },
  },
  watch: {
    search() {
      const result = [];
      if (this.search !== '') {
        if (this.selectType !== 'All') {
          this.default.forEach((el) => {
            if (el.type === this.selectType
              && el.name.toLowerCase().includes(this.search.toLowerCase())) {
              result.push(el);
            }
          });
          this.list = result;
        } else {
          this.default.forEach((el) => {
            if (el.name.toLowerCase().includes(this.search.toLowerCase())) {
              result.push(el);
            }
          });
          this.list = result;
        }
      } else if (this.selectType === 'All') {
        this.list = this.default;
      } else {
        this.filterType();
      }
    },
    selectType() {
      this.filterType();
    },
  },
};
</script>

<style scoped>
.fixedHeader {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.fixedHeader tbody {
  display: block;
  overflow: auto;
  height: 25vh;
  width: 100%;
}
.fixedHeader thead tr {
  display: flex;
  justify-content: space-around;
}
select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw !important;
  height: 35px !important;
  padding: 5px;
  font-size: 14pt;
  outline-width: 0;
}

.container {
  justify-content: center;
  width: 60vw;
}

.bordering {
  padding: 20px;
  margin: 30px 0;
  border-radius: 10px;
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.16), 0 3px 5px rgba(66, 66, 66, 0.23);
}

section {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
}
table tr {
  border-bottom: 1px solid rgb(202, 201, 201);
}
table th {
  text-align: left;
  padding: 12px;
  color: #073a86;
  font-size: 13pt;
}
input[type="text"],
input[type="text"]:focus {
  border-radius: 45px;
  margin-bottom: 30px;
  margin-top: 10px;
  width: 94%;
  font-size: 12pt;
  outline-width: 0;
  border-color: rgb(231, 229, 229) !important;
  padding: 5pt 0pt 5pt 38px;
  background-image: url("../assets/search.png");
  background-size: 20px;
  background-position-x: 10px;
  background-position-y: center;
  background-repeat: no-repeat;
}

.tooverflow::-webkit-scrollbar {
  -webkit-appearance: none;
}

.tooverflow::-webkit-scrollbar:vertical {
  height: 10px;
}

.tooverflow::-webkit-scrollbar:horizontal {
  width: 0px;
}

.tooverflow {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 9px;
}

.tooverflow::-webkit-scrollbar {
  -webkit-appearance: none;
}

.tooverflow::-webkit-scrollbar-thumb {
  border-radius: 8px;
  margin: 5px;
  background-color: rgb(211, 211, 211);
}
</style>
