<template>
  <div class="header">
    <img src="../assets/banner.jpg" alt="banner" srcset class="imageSharia" />
    <div style="display:flex; justifyContent: space-between; alignItems: baseline">
    <h1 id="headline">PRODUCT</h1>
    <div>
    <slot/>
    </div>
    </div>
  </div>
</template>

<style>
@font-face {
  font-family: proxima-nova-soft;
  src: url("../../public/fonts/proxima-nova-soft.otf") format("opentype");
}

@font-face {
  font-family: proxima-nova-soft;
  font-weight: bold;
  src: url("../../public/fonts/proxima-nova-soft.otf") format("opentype");
}

#headline {
  text-align: left;
  font-weight: 700;
  color: rgb(111, 111, 112);
  margin-top: 32px;
  margin-bottom: 5px;
  font-size: 22pt;
  font-family: 'proxima-nova-soft';
}

.imageSharia {
  width: 100%;
  object-fit: contain;
}
</style>
