<template>
  <tr>
    <td class="text">{{item.name}}</td>
    <td class="text">IDR {{rupiah}}</td>
    <td class="text">{{item.tenor}} Hari</td>
    <td class="text">{{item.rate}}</td>
    <td class="text">{{item.type}}</td>
  </tr>
</template>

<script>
export default {
  name: 'List-Sbn',
  props: ['item'],
  computed: {
    rupiah() {
      return this.item.amount.toLocaleString('id-IDR').replace(/,/g, '.');
    },
  },
};
</script>

<style scoped>

tr {
  border-bottom: 1px solid rgb(202, 201, 201);
  width: 100%;
  display: flex;
  justify-content: space-around
}
td{
  width: 25%;
  display: flex;
  justify-content: center
}
.text {
  padding: 10px;
  text-align: left
  }
span{
    display: flex;
    margin: 0 10px;
    width: 15px;
}
</style>
