<template>
  <tr>
    <td class="text">{{item.name}}</td>
    <td class="text">IDR {{rupiah}}</td>
    <td class="text space">
        <span>{{item.grade}}</span>
        <span style="color:#073a86; font-weight: 500">{{item.rate}}%</span>
    </td>
    <td class="text"> {{item.tenor}} Hari</td>
  </tr>
</template>

<script>
export default {
  name: 'List-Sub',
  props: ['item'],
  computed: {
    rupiah() {
      return this.item.amount.toLocaleString('id-IDR').replace(/,/g, '.');
    },
  },
};
</script>

<style scoped>

tr {
  border-bottom: 1px solid rgb(202, 201, 201);
  width: 100%;
  display: flex;
}
td{
  width: 25%;
  display: flex;
  justify-content: center
}
.text {
  padding: 10px;
  text-align: left
  }
.space{
    display: flex;
    align-items: center
}
span{
    display: flex;
    margin: 0 10px;
    width: 15px;
}
</style>
