<template>
  <div>
    <div class="blok" :style="style">
      <div style="width: 20%">
        <img src="../assets/whitedoc.svg" alt="doc" class="docIcon" v-if="isActive" />
        <img src="../assets/greendoc.svg" alt="doc" class="docIcon" v-else />
      </div>
      <div class="content">
        <article>
          <h3
            class="contentType"
            :style="[isActive ? {color: 'white'} : {color: '#79ce17'}]"
          >{{title}}</h3>
          <p class="lorem">{{lorem}}</p>
        </article>
        <p :style="[isActive ? {color: 'white'} : {color: '#64ac11'}]">{{product.count}}</p>
      </div>
    </div>
    <slot />
  </div>
</template>

<script>
export default {
  name: 'Product',
  props: ['product', 'index', 'isOpen', 'showIndex'],
  data() {
    return {
      style: {
        backgroundColor: 'white',
        color: '#808080',
      },
      lorem: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam labore, ducimus fugiat velit qui facilis ratione veniam nobis veritatis eius, culpa omnis vitae voluptatibus corrupti? Voluptates',
    };
  },
  computed: {
    isActive() {
      return this.isOpen && this.showIndex === this.index;
    },
    title() {
      return this.product.name.split(' ')[0];
    },
  },
  watch: {
    isActive() {
      if (this.isActive) {
        this.style = {
          background: 'linear-gradient(45deg,#28901A,#84C03C)',
          color: 'white',
        };
      } else {
        this.style = {
          background: 'white',
          color: '#808080',
        };
      }
    },
  },
};
</script>

<style scoped>
* {
  font-family: "proxima-nova-soft";
}

.blok {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15vh;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.16), 0 3px 5px rgba(66, 66, 66, 0.23);
}

.docIcon {
  margin: 10px;
  width: 80px;
  height: 80px;
  display: flex;
}
.content {
  display: flex;
}
article {
  width: 94%;
  text-align: left;
}

.contentType {
  text-align: left;
  margin-bottom: 3px;
}

.lorem {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  color: inherit;
}
</style>
