<template>
  <div @click="changePage">
    <div class="blok">
      <img src="../assets/greendoc.svg" alt="doc" class="docIcon" />
      <div class="content">
        <article>
          <h3 class="contentType" style="color: #79CE16">{{titleSub}}</h3>
          <p
            class="lorem"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam labore.</p>
        </article>
        <p style="color: #64AC0E">{{type.count}}</p>
      </div>
    </div>
    <slot />
  </div>
</template>

<script>
export default {
  name: 'SubType',
  props: ['type', 'main'],
  methods: {
    changePage() {
      const route = `${this.main.split(' ')[0]}/${this.titleSub}`.toLowerCase();
      this.$router.push({ path: route });
    },
  },
  computed: {
    titleSub() {
      return this.type.name.split(' ')[0];
    },
  },
};
</script>

<style scoped>
* {
  font-family: "proxima-nova-soft";
}

.blok {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15vh;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.16), 0 3px 5px rgba(66, 66, 66, 0.23);
}

.docIcon {
  margin: 10px;
  width: 80px;
  height: 80px;
  display: flex;
}
.content {
  display: flex;
}
article {
  width: 90%;
  text-align: left;
}

.contentType {
  text-align: left;
  margin-bottom: 3px;
}

.lorem {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  color: #808080;
}
</style>
