
    @font-face {
        font-family: proxima-nova-soft;
        src:  url('proxima-nova-soft.otf') format("opentype");
    }
    
    @font-face {
        font-family: proxima-nova-soft;
        font-weight: bold;
        src:  url('proxima-nova-soft.otf') format("opentype");
    }